body {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
}

h1 {
    font-size: 230%;
    color:#025050
}

h2 {
    font-size: 180%;
    color:#007e7e
} 

h3 {
    font-size: 130%;
}

p {
    color: black;
}

em {
    font-family: serif;
}

p.greentea {
    color: green;
}

p.raspberry {
    color: cornflowerblue;
}

p.blueberry {
    color: purple;
}

p.cranberry {
    color: darkred;
}

#logo {
    text-align: center;

}

#elixirs {
    border-width: thin;
    border-style: solid;
    border-color: #007e7e;
    width: 200px;
    padding: 0px 20px 20px 20px;
    margin-left: 20px;
    text-align: center;
    background-image: url("images/cocktail.gif");
    background-repeat:repeat-x;
    background-position: top left;
    line-height: 1em;
    float: right;
}

#elixirs h2 {
    color: black;
}

#elixirs h3 {
    color: #d12c47
}

div {
    display: block;
}

#guarantee {
    line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444444;
    border-color: white;
    border-width: 1px;
    border-style: dashed;
    background-color: #a7cece;
    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 250px;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

.cd {
    font-style: italic;
}

.artist {
    font-weight: bold;
}

#rodape {
    font-size: 70%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

a:link {
    color: green;
}

a:visited {
    color: red;
}

a:hover {
    color: blue;
}